@model uthTripProject.Models.User
@{
    /**/

    ViewBag.Title = "UserHome";
}

<h2>@ViewBag.Title</h2>


    <div class="row">
        <div class="col-md-8">
            Hello
          </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



