@{
    ViewBag.Title = "About";
}
<a href="~/Views/Home/About.cshtml">~/Views/Home/About.cshtml</a>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
