body {

    padding-top: 0 !important;
}




.footer {
    bottom: 0;
    padding-left: 20px;
    font-size: 14px;
    color: #fff !important;
}
 .bottom {
    position: absolute !important;
    bottom: 0 !important;
}